@{
    Layout = null;
    ViewBag.Title = "Sign In - Store";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("TrySignIn","SignIn"))
        {
            <div class="form-signin text-center">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign In"/>
            </div>
        }
    </div>
</body>
</html>
